<!-- Page Header -->
    <nav class="navBar">
        <div class="navCart" id="cart-info" onmouseover="HoverCart()">
            <span class="navHeadText">My Cart (<span id="total-items-html"></span>)</span>
            <span class="navHeadCartIcon"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        </div>
    </nav>
    <section class="cart">
    </section>
